<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Memory Game</title>
    <link rel="stylesheet" href="stylesheets/splash.css" />
    <link rel="icon" href="images/logo.png">
    <script>
      function openPopup(){
        document.getElementById("dialog-info").style.visibility= 'visible';
      }
      function colsePopup(){
        document.getElementById("dialog-info").style.visibility= "hidden";
      }
    </script>
  </head>
  <body>
    <main>
      <div class="wrapper">
            <div id="play_button">
                <form action="/play" method="get">
                    <button id="play" type="submit">Play now</button>
                  </form>
                </div>
            
            <section id ='how_to_play' onclick="openPopup()">how to play</section>
        
            <section id = "statistics">
                <ul>
                    <li><%= gamesOngoing %> games in play</li>
                    <li><%= gamesCompleted %> games completed</li>
                    <li><%= visitors %> visitors in total</li>
                </ul>
            </section>

            <div id="dialog-info">
                <h1>HOW TO PLAY</h1>
                <p>This game requires players to match similar delft blue pottery pictures.</p>
                <p>There are 16 pictures in a display, composed of 8 pairs, face down in random order.</p>
                <p>Each person turns over two cards at a time, to turn over a matching pair, by using their memory.</p>
                <p>If the pair matches, the player gets one score, and he will get a chance to turn another pair.</p>
                <p>If the pair doesn't match, his opponent gets the chance to flip cards.</p>
                <p>Once all pictures are matched, the game is over, and the player with a higher score is the winner.</p>
                <button id="cls" onclick="colsePopup()">close</button>
            </div>
      </div>
    </main>
  </body>
</html>